ul.spot_list {
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 30px;
}

ul.spot_list li {
    display: flex;
    flex-direction: column;
}

ul.spot_list li header {
    width: 100%;
    height: 120px;
    background-size: cover;
    border-radius: 4px;
}

ul.spot_list li strong {
    margin-top: 10px;
    font-size: 2.2rem;
    color: #444;
}

ul.spot_list li span {
    font-size: 1.4rem;
    color: #999;
}

ul.notifications {
    list-style: none;
    margin-bottom: 15px;
}

ul.notifications li {
    font-size: 1.6rem;
    line-height: 2.2rem;
}

ul.notifications li button {
    margin-right: 10px;
    border: 0;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}

ul.notifications li button.accept {
    color: #84c870;
    font-size: 1.4rem;
    transition: opacity 0.3s;
}

ul.notifications li button.accept:hover {
    opacity: 0.8;
}

ul.notifications li button.reject {
    color: #e55e5e;
    font-size: 1.4rem;
    transition: opacity 0.3s;
}

ul.notifications li button.reject:hover {
    opacity: 0.8;
}

@media (min-width: 700px) {
    ul.spot_list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
